<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clover.KeepBackupLimit</key>
	<data>
	MA==
	</data>
	<key>Clover.LogLineCount</key>
	<data>
	MA==
	</data>
	<key>Clover.SoundDevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAMfAwoYAOs/AKkG2NtBpJFUBf7vRsMAAAAAf/8EAA==
	</data>
	<key>Clover.SoundIndex</key>
	<data>
	BA==
	</data>
	<key>Clover.Theme</key>
	<data>
	YmxhY2tiYw==
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	gA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	6w==
	</data>
	<key>backlight-level</key>
	<data>
	//8=
	</data>
	<key>csr-active-config</key>
	<data>
	5wMAAA==
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjJGMjRGMDI3LUJC
	MUEtNDkxRS04OEMwLTk5MEI5Q0Y3OUE1Rjwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMnMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEYwNDI4N0Q1LUU5
	RDItNDBDRS1CQzkxLTlFMTBCQTc3QkI2MlxTeXN0ZW1cTGlicmFyeVxDb3JlU2Vydmlj
	ZXMIb290LmVmaTwvc3RyaW5nPjwvZGljdD48L2FycmF5Pg==
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgACAAAAACAHAAAAAACI8pY7AAAA
	AN54aQOWxipJnn7BZ9O1NTACAgQDJAD3/HS+fAvzSZFHAfQELmhCJ/AkLxq7HkmIwJkL
	nPeaXwQEmgBcAEYAMAA0ADIAOAA3AEQANQAtAEUAOQBEADIALQA0ADAAQwBFAC0AQgBD
	ADkAMQAtADkARQAxADAAQgBBADcANwBCAEIANgAyAFwAUwB5AHMAdABlAG0AXABMAGkA
	YgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBm
	AGkAAAB//wQA
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjAzNjk3OERFLUM2
	OTYtNDkyQS05RTdFLUMxNjdEM0I1MzUzMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEA//8AAAQBKgACAAAAACAHAAAAAACI8pY7AAAA
	AN54aQOWxipJnn7BZ9O1NTACAgQDJAD3/HS+fAvzSZFHAfQELmhC44JmX33apUWY4EcJ
	ycjwtX//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEA==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CdDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajEzOF85AAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AkYPAAAS
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajEzOAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	5p2O5bCR5Y2O55qEaU1hYw==
	</data>
	<key>install-product-url</key>
	<data>
	eC1vc3Byb2R1Y3Q6Ly9GMDQyODdENS1FOUQyLTQwQ0UtQkM5MS05RTEwQkE3N0JCNjIv
	bWFjT1MlMjBJbnN0YWxsJTIwRGF0YQ==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	emgtSGFucy1DTjoyNTI=
	</data>
	<key>previous-system-uuid</key>
	<data>
	RjA0Mjg3RDUtRTlEMi00MENFLUJDOTEtOUUxMEJBNzdCQjYy
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEA//8AAAQBKgACAAAAACAHAAAAAACI8pY7AAAA
	AN54aQOWxipJnn7BZ9O1NTACAgQDJAD3/HS+fAvzSZFHAfQELmhC44JmX33apUWY4EcJ
	ycjwtX//BAA=
	</data>
</dict>
</plist>